* {
    -fx-clr-background: #6b7275;
    -fx-clr-dark: #000;
    -fx-clr-button: #000;
    -fx-clr-button-hover: #fff;
    -fx-clr-light: #fff;
    -fx-clr-text: #000;
    -fx-clr-text-secondary: #252729;
    -fx-clr-title: #000;
}

/* Menu -> CreateDeviceRow */
.deviceRowVBox {
    -fx-background-color: -fx-clr-background;
    -fx-border-width: 3;
    -fx-padding: 5;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: #344347;
}

.editBtn {
    -fx-background-color: #344347;
    -fx-text-fill: white;
}

.toggleBtnOff, .deleteBtn{
    -fx-background-color: #353535;
    -fx-text-fill: white;
}

.toggleBtnOn {
    -fx-background-color: #fff2b3;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(three-pass-box, rgb(0,0,0), 10, 0, 0, 0);
}

.deviceLabel {
    -fx-text-fill: #070707;
    -fx-font-size: 30px;
}

.roomDeleteButton {
    -fx-background-color: #344347;
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background: -fx-clr-background;
    -fx-border-color: #344347;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

/* scrollPane vierityspalkin taustaväri */
.scroll-pane .scroll-bar:vertical .track, .scroll-pane .scroll-bar:horizontal .track {
    -fx-background-color: #353535;
}

/* scrollPane thumbin väri */
.scroll-pane .scroll-bar:vertical .thumb, .scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #344347;

}

/* scrollPane vierityspalkin nuolien väri */
.scroll-pane .scroll-bar:vertical .increment-button, .scroll-pane .scroll-bar:horizontal .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button, .scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: #344347;
}

.anchor-pane {
    -fx-background-color: -fx-clr-background;
}

.main-pane {
    -fx-background-color: -fx-clr-background;
}


/*titled pane--> */
.titled-pane {
    -fx-background-color: -fx-clr-background;
    -fx-text-fill: white;
}

.titled-pane:focused > .title {
    -fx-color: #344347;
}

.titled-pane > .title {
    -fx-color: #344347;
}

.titled-pane > *.content {
    -fx-background-color: -fx-clr-background;
}

/*Device gridPane*/
.grid-paneDevice {
    -fx-padding: 10px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.grid-paneDevice > .label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.grid-paneDevice > .text-field, .grid-pane > .combo-box {
    -fx-font-size: 16px;
}

.grid-paneDevice > .button {
    -fx-font-size: 16px;
    -fx-background-color: #344347;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px 15px;
}

.grid-paneDevice > .text-field, .grid-paneDevice > .combo-box {
    -fx-text-fill: white;
    -fx-background-color: #555;
    -fx-border-color: #777;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/*Device gridPanessa oleva ComboBox */
.grid-paneDevice > .combo-box {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: #555;
    -fx-border-color: #777;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 2px 2px;
}

.grid-paneDevice > .combo-box .list-cell {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: #344347;
}

.grid-paneDevice > .combo-box .list-cell:hover {
    -fx-background-color: #666;
}

.grid-paneDevice > .combo-box .cell:selected {
    -fx-font-size: 16px;
    -fx-background-color: #666;
}

.grid-paneDevice > .combo-box .arrow-button {
    -fx-background-color: #344347;
}

.grid-paneDevice > .combo-box .arrow {
    -fx-background-color: white;
}

/* textfields in menu */
.menuTextField {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-color: #555;
    -fx-border-color: #777;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.menuAddButton {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-color: #353535;
    -fx-border-radius: 5px;
}

.login-page {
    -fx-background-color: -fx-clr-background;
}

.input-field {
    -fx-background-color: transparent;
    -fx-border-color: #000;
    -fx-border-radius: 5;
    -fx-border-width: 2px;
    -fx-font-size: 20px;
    -fx-text-fill: -fx-clr-dark;
}

.input-label {
    -fx-font-size: 20px;
    -fx-text-fill: -fx-clr-text;
}

.button-primary {
    -fx-background-color: -fx-clr-button;
    -fx-background-radius: 8;
    -fx-text-fill: -fx-clr-light;
    -fx-border-color: transparent;
    -fx-font-size: 20px;
}

.button-primary:hover {
    -fx-background-color: -fx-clr-button-hover;
    -fx-text-fill: -fx-clr-dark;
}

.button-secondary {
    -fx-background-color: transparent;
    -fx-border-radius: 8;
    -fx-text-fill: -fx-clr-button;
    -fx-border-color: -fx-clr-button;
    -fx-border-width: 2;
    -fx-font-size: 20px;
}

.button-secondary:hover {
    -fx-background-color: -fx-clr-button;
    -fx-background-radius: 8;
    -fx-text-fill: -fx-clr-light;
    -fx-border-color: transparent;
}

.text-button {
    -fx-text-fill: -fx-clr-light;
    -fx-background-color: transparent;
    -fx-underline: true;
    -fx-font-size: 20px;
}

.text-button:hover {
    -fx-underline: false;
    -fx-font-size: 20px;
}

.tooltip {
    -fx-font-size: 13;
    -fx-font-family: verdana;
    -fx-font-style: italic;
    -fx-fill: -fx-clr-text-secondary;
}

.title {
    -fx-font-family: Futura;
    -fx-font-size: 40;
    -fx-font-color: -fx-clr-title;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}

.scroll-pane .scroll-bar:vertical .increment-button ,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 0 10 0;

}

.scroll-pane .scroll-bar:vertical .increment-button ,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 10 0 0;
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: -fx-clr-dark;
    -fx-opacity: 0.7;
}

.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: -fx-clr-dark;
    -fx-opacity: 1;
}

.scroll-pane .scroll-bar:vertical {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .track {
  visibility: hidden;
}

.scroll-pane .scroll-bar:vertical .track-background {
  visibility: hidden;
}

.time-picker .label {
    -fx-text-fill: -fx-clr-dark;
}
